<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射接口，必须为完整的包名加类名 -->
<mapper namespace="com.mooc.demo.dao.UserMapper">
  <!-- 实体映射 -->
  <resultMap id="User" type="User">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 查询全部用户信息 -->
  <select id="selectAll" resultMap="User"> 
    select * from t_user
  </select>
</mapper>